<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust></title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text" /><!-- Here we have created key value pair. yaha par hamne ek object bana diya listing naam se aur uski key rakh di title-->
        <br /><br />
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br /><br />
         <input name="listing[image]" placeholder="enter image url/link" type="text" />
        <br /><br />
        <input name="listing[price]" placeholder="enter price" type="number" />
        <br /><br />
        <input name="listing[country]" placeholder="enter country" type="text" />
        <br /><br />
        <input name="listing[location]" placeholder="enter location" type="text" />
        <br /><br />
        <button>Add</button>
    </form>
</body>
</html>